$diameter: 25px;
$radius: $diameter/2;

$buttonWidth:200px;
$buttonHeight:50px;

$buttonLeftMargin: $buttonWidth/2;

body{
	padding:0;
	margin:0;
}
#main{
	margin:$radius;
	position: absolute;
	width: calc(100% - #{$diameter});
	height: calc(100% - #{$diameter});
}
#ball_element {
	position: absolute;
	left:50%;
	top:50%;
	width:$diameter;
	height:$diameter;
	margin-left:-$radius;
	margin-top:-$radius;
	border:0;
	border-radius: $radius;
	background-color: #000;

	transition-property: left, top;
	transition-timing-function:linear;
    transition-duration: 1500ms;
    transition-delay: 10ms;
    z-index: 100;
}
#button{
	position: absolute;
	display:block;
	text-decoration:none;
	background-color: #444;
	text-align:center;
	color:#eee;
	font-size:12pt;
	font-family:sans-serif;
	font-weight:bold;
	left:50%;
	bottom:50px;
	width:$buttonWidth;
	height:$buttonHeight;
	margin-left:-$buttonLeftMargin;
	line-height:$buttonHeight;

}