body {
  padding: 0;
  margin: 0; }

#main {
  margin: 12.5px;
  position: absolute;
  width: calc(100% - 25px);
  height: calc(100% - 25px); }

#ball_element {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-left: -12.5px;
  margin-top: -12.5px;
  border: 0;
  border-radius: 12.5px;
  background-color: #000;
  transition-property: left, top;
  transition-timing-function: linear;
  transition-duration: 1500ms;
  transition-delay: 10ms;
  z-index: 100; }

#button {
  position: absolute;
  display: block;
  text-decoration: none;
  background-color: #444;
  text-align: center;
  color: #eee;
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: bold;
  left: 50%;
  bottom: 50px;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  line-height: 50px; }
